<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo3000"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo3000"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proform"
        tools:targetApi="31">
        <activity
            android:name=".info"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".LogoAnimation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addTest"
            android:exported="false" />
        <activity
            android:name=".listTests"
            android:exported="false" />
        <activity
            android:name=".UpdateCmd"
            android:exported="false" />
        <activity
            android:name=".listcommand"
            android:exported="false" />
        <activity
            android:name=".OrdersT"
            android:exported="false" />
        <activity
            android:name=".addcmd"
            android:exported="false" />
        <activity
            android:name=".updatep"
            android:exported="false" />
        <activity
            android:name=".listemp"
            android:exported="false" />
        <activity
            android:name=".administration"
            android:exported="false" />
        <activity
            android:name=".delivred"
            android:exported="false" />
        <activity
            android:name=".orders"
            android:exported="false" />
        <activity
            android:name=".HomeChef"
            android:exported="false" />
        <activity
            android:name=".HomeTransporter"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="false" />
        <activity
            android:name=".Profil"
            android:exported="false" />
        <activity
            android:name=".forgetPassword"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sign_up" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
    </application>

</manifest>